#deck {
    margin: 1px auto;
    background: none;
    border: 1px solid #333;
}

table.chessboard {
    margin: 1px auto;
    background:  #cccccc;
    border: 5px solid #333;
}
td.chessboard {
    width: 71px; height: 71px;
    border: 2px solid #333;
}
td.chessboard.active-cell {
   border-color: #0066FF;
}

tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
    background: white;
}

/* Style the draggable class*/
.draggable {
   width: 70px;
   height: 70px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -khtml-user-select: none;
   user-select: none;
   cursor: pointer;
}

/* Style the figure class*/
.figure {
   font-size: 30px;
   width: 35px;
   height: 35px;
   text-align: center;
   vertical-align: middle;
   line-height: 35px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -khtml-user-select: none;
   user-select: none;
   cursor: pointer;
}

/* Style the draggable_lost_figures class*/
.draggable_lost_figures {
   width: 100%;
   height: 630px;
   position:relative;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -khtml-user-select: none;
   user-select: none;
   cursor: pointer;
}